/*
    author: g33kyAnand
*/

body {
    margin: 0 auto;
    background-size: 100% 756px;
}

.container {
    width: 500px;
    height: 480px;
    text-align: center;
    background-color: rgba(235, 235, 235, 0.6);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    margin-top: 250px;
    position: relative;
}

.container img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-bottom: 30px;
}
.container form{
    position: relative;
    top: 30px;
}

input[type="text"],input[type="password"], input[type="email"] {
    border: 1px solid #34495E;
    height: 45px;
    width: 300px;
    font-size: 18px;
    margin-bottom: 30px;
    background-color: #fff;
    padding-left: 20px;
}
a {
    color: #fff;
}

button {
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    margin-left: 10px;
    

}
.outline {
    position: relative;
    z-index: 3;
    background: transparent;
    color: #2C5505;
    font-size: 18px;
    border: 1px solid #2C5505;
    padding: 10px 40px;
    text-transform: uppercase;
    transition: all 0.2s linear;
}
a {
    text-decoration: none;
}

.outline:hover {
    color: white;
    background: #2C5505;
    border-color: white;
    transition: all 0.2s linear;
    cursor: pointer;
}
.white-blue {
    border: 1px solid #2C5505;
    font-weight: 700;
    color: #2C5505;
    border-color: white;
    background: white;
}
.white-blue:hover {
    color: white;
    background: #2C5505;
    border-color: white;
}


.hod_button_div{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: #2C5505;
    padding: 20px 0;
    color: #fff;
    position: absolute;
    bottom: 0;
    
}

.hod_button_div > a{
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
.hod_button{
    width: auto;
    height: 35px;
    cursor: pointer;
}

.draw-border {
    box-shadow: inset 0 0 0 2px #2C5505;
    color: white;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 2px;
    border-left-width: 2px;
  }
  .draw-border::after {
    border-top-width: 2px;
    border-right-width: 2px;
  }
  .draw-border:hover {
    color: white;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: white;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.25em 0.8em;
    letter-spacing: 0.020rem;
  }
  .btn:focus {
    outline: 1px dotted white;
  }