<!--
	author: geekyAnand
	© pyJaC
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NITN-AMS | DES Add New Course</title>
	  <link rel="stylesheet" type="text/css" href="{% static 'HOD/css/hod_home.css' %}">	
	  <link rel="stylesheet" type="text/css" href="{% static 'data_entry_staff/css/des.css' %}">	

</head>

<body>
	<div class="hod_main_body hod_view_att_main_body">
		<div class="ams-hod_navbar">
			<div>
				<div class="ams-navbar_logo ">
					<a class="ams-header-logo_link" target="_blank" href="https://nitnagaland.ac.in">
						<img src="{% static 'student/img/nitn_logo.png' %}">
					</a>
				</div>
				<h1 id="left_h1"> NIT Nagaland </h1> <h1 id="right_h1"> Attendance Management System </h1>
				<span></span>
			</div>
			<div class="ams-navbar_links">
				<div class="dropdown">
						<a href="{% url 'des_create_batch' %}">
							<button class="dropbtn">CREATE BATCH</button>
						</a>
					</div>		
					<div class="dropdown">
						<a href="{% url 'des_add_course' %}">
							<button class="dropbtn">ADD COURSE</button>
						</a>
					</div>
					<div class="dropdown">
						<a href="{% url 'des_combine_courses' %}">
							<button class="dropbtn">ASSIGN ELECTIVES</button>
						</a>
					</div>
					<div class="dropdown">
						<a href="{% url 'des_logout' %}">
							<button class="dropbtn">LOGOUT</button>
						</a>
					</div>
			</div>
		</div>

		<div class="site_container">
			<div class="modal-container">
				<div class="modal-content">
					<form method="POST">
						{% csrf_token %}
						<input type="text" name="course_code" placeholder="Course Code"><br>
						<input type="text" name="course_title" placeholder="Course Title"><br>
						<div class="toggler-container">
								
							<label for="contract_toggle" class="contract_toggle">
									Is elective?
							<input type="checkbox" id="contract_toggle" name="is_elective"/>
							<span class="toggle_bar">
							<span class="toggle_square"></span>
							</span>
							</label>
						</div>
						<button type="submit" class="hod_button btn draw-border" style="margin-left: 0;">SUBMIT</button>
					</form>

					{% if success %}
					<div>
						{{ success }}
					</div>
					{% elif error %}
					<div>
						{{ error }}
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		
		
	<script src="{% static 'authentication/js/ams.js' %}"></script>
</body>
</html>