<!--
	author: geekyAnand
	© pyJaC
-->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NITN-AMS | HOD | Dashboard</title>
	<link rel="stylesheet" type="text/css" href="{% static 'HOD/css/hod_home.css' %}">
		
</head>
<body>
	<div class="hod_main_body">
		<div class="ams-hod_navbar">
			<div>
				<div class="ams-navbar_logo ">
					<a class="ams-header-logo_link" target="_blank" href="https://nitnagaland.ac.in">
						<img src="{% static 'student/img/nitn_logo.png' %}">
					</a>
				</div>
				<h1 id="left_h1"> NIT Nagaland </h1> <h1 id="right_h1"> Attendance Management System  </h1>
				<span></span>
			</div>
			<div class="ams-navbar_links">
				<div class="dropdown">
					<button class="dropbtn">ALLOT COURSES</button>
					<div class="dropdown-content">
						{% for num in sem %}
						<a href="{% url 'course_settings' num %}">Semester {{ num }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">VIEW / MODIFY ATTENDANCE</button>
					<div class="dropdown-content" >
						<a href="{% url 'attendance_viewer' %}"> VIEW ATTENDANCE </a>
						<a href="{% url 'attendance_modifier' %}"> MODIFY ATTENDANCE </a>
					</div>
				</div>
				<div class="dropdown">
					<a href="{% url 'view_courses' %}"><button class="dropbtn">VIEW ALLOTTED COURSES</button></a>
				</div>
				<div class="dropdown">
					<a href="{% url 'hod_logout' %}"><button class="dropbtn">LOGOUT</button></a>
				</div>
			</div>
		</div>
		<div class="site_container">
			<h1>Please select any of the above options to continue...</h1>
		</div>
	</div>
	<footer class="footer">
		<span>Developed by Anand Kumar Dubey & Shraddha Kishan Tripathi (CSE 2017)</span>
		<span>Under guidance of Nagaraju Baydeti (Asst. Professor, CSE)</span>
	</footer>
</body>
</html>