<!--
	author: geekyAnand
	© pyJaC
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NITN-AMS | HOD View Attendance</title>
  	<link rel="stylesheet" type="text/css" href="{% static 'HOD/css/hod_home.css' %}">	
</head>

<body>	
		{% if not invalid_reg %}
				<h2>{{ user_instance.reg_no }} : {{ user_instance.name }}</h2>
			 <div class="ams-table individual_view_table">
				 <table class="ams-table__table">
					 <tr class="ams-table-header">
						 <td>Course Code</td>
						 <td> Total Classes</td>
						 <td> Attended</td>
						 <td> Attendance %</td>
 
					 </tr>
					 {% for attendance in att_data_list %}
					 <tr class="ams-table__row ams-table-header">
						 <td class="ams-table__cell"><span class="ams-table__value">{{ attendance.course_code }}</span></td>
						 <td class="ams-table__cell"><span class="ams-table__value">{{ attendance.total_classes }}</span></td>
						 <td class="ams-table__cell"><span class="ams-table__value">{{ attendance.attended }}</span></td>
						 <td class="ams-table__cell"><span class="ams-table__value">{{ attendance.percent|floatformat:1 }}</span></td>
						 
					 </tr>
					 {% endfor %}
				 </table>
			 </div>
		 	
		{% else %}
		<div>
			Invalid registration number given.
		</div>
		{% endif %}

<script src="{% static 'authentication/js/ams.js' %}"></script>
</body>
</html>