{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOD Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/style.css' %}">
    <link rel="favicon" href="{% static 'authentication/img/nitn_favicon.png' %}" type="image/png">
</head>
<body>
    <div class="container">
        <div class="user_card">
            <a target="_blank" href="https://nitnagaland.ac.in/">
                <img src="{% static 'authentication/img/nitn_logo.png' %}" alt="National Institute Of Technology Nagaland">
            </a>
            <form method="POST" >
                {% csrf_token %}
                <div >
                    <input type="text" name="username" placeholder="Username" required autofocus>
                </div>
                <div >
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <div>
                {% if invalid_cred %}
                        {{ invalid_cred }}
                {% endif %}
                </div><br>
                <div>
                    <input type="submit" name="submit" value="LOGIN" class="outline white-blue">
                </div>
            </form>
            <div class="hod_button_div">
                <a href="{% url 'home' %}"><button type="submit" class="hod_button btn draw-border">FACULTY / STUDENT LOGIN</button></a>
            </div>
        </div>
        <footer class="footer">
			<span>Developed by Anand Kumar Dubey & Shraddha Kishan Tripathi (CSE 2017)</span>
			<span>Under guidance of Nagaraju Baydeti (Asst. Professor, CSE)</span>
		</footer>
    </div>
    <div class="assistant_div">
        <a  target="_self" href="{% url 'des_index'%}"><button type="submit" class="hod_button btn draw-border">CLICK HERE IF YOU ARE AN ASSISTANT</button></a>
    </div>
</body>
</html>