<!--
	author: geekyAnand
	© pyJaC
-->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NITN-AMS | HOD Edit Attendance</title>
  	<link rel="stylesheet" type="text/css" href="{% static 'HOD/css/hod_home.css' %}">	
</head>

<body>
	<div class="hod_main_body hod_view_att_main_body">
		<div class="ams-hod_navbar">
			<div>
				<div class="ams-navbar_logo ">
					<a class="ams-header-logo_link" target="_blank" href="https://nitnagaland.ac.in">
						<img src="{% static 'student/img/nitn_logo.png' %}">
					</a>
				</div>
				<h1 id="left_h1"> NIT Nagaland </h1> <h1 id="right_h1"> Attendance Management System  </h1>
				<span></span>
			</div>
			<div class="ams-navbar_links">
				<div class="dropdown">
					<button class="dropbtn">ALLOT COURSES</button>
					<div class="dropdown-content">
						{% for semester in sem %}
							<a href="{% url 'course_settings' semester %}">Semester {{ semester }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="dropdown">
					<button class="dropbtn">VIEW / MODIFY ATTENDANCE</button>
					<div class="dropdown-content">
							<a href="{% url 'attendance_viewer' %}"> VIEW ATTENDANCE </a>
							<a href="{% url 'attendance_modifier' %}"> MODIFY ATTENDANCE </a>
						</div>
				</div>
				<div class="dropdown">
					<a href="{% url 'view_courses' %}"><button class="dropbtn">VIEW ALLOTED COURSES</button></a>
				</div>
				<div class="dropdown">
					<a href="{% url 'hod_logout' %}"><button class="dropbtn">LOGOUT</button></a>
				</div>
			</div>
		</div>
		<div class="site-container">
			<div class="option-picker">	
				<form method="POST" name="select_option_form" >
					{% csrf_token %}
					<input type="text" name="hod_attend_edit_regno" id="hod_inp_regno" minlength="10" maxlength=10 autofocus required placeholder="Registration no.">
					<button type="submit" name="att_mod_filter_btn" class="hod_button btn draw-border" style="height: 33px;"  >SUBMIT</button>
				</form>
			</div>	

			{% if attendance %}
			<div class="ams-attendance_table">
				<div class="ams-table ams-hod_edit_table">
					<table class="ams-table__table">
						<tr class="ams-table-header ">
							<th> Registration No</th>
							<th>Student's Name</th>
							{% for course_code in attendance.courses %}
							<th>{{ course_code }}</th>
							{% endfor %}
						</tr>

						
						<tr class="ams-table__row ams-table-header">
							<td class="ams-table__cell"><span class="ams-table__value">{{ attendance.reg_no }}</a></span></td>
							<td class="ams-table__cell"><span class="ams-table__value">{{ attendance.stu_name }}</a></span></td>
							{% for percent in attendance.percentages %}
							<td class="ams-table__cell"><span class="ams-table__value">{{ percent|floatformat:1 }}%</span></td>
							{% endfor %}
						</tr>
						
					</table>
				</div>
			</div>					
			<form method="POST" id="attendance_form">
				{% csrf_token %}
				<input type="hidden" name="hod_attend_edit_reg_no" value="{{ attendance.reg_no }}">
				<input type="date" name="hod_attend_edit_start_date" id="hod_inp_start_dt" min="{{ attendance.min_date }}" max="{{ attendance.max_date }}" required onchange="this.form.hod_attend_edit_end_date.min=this.value;this.form.hod_attend_edit_end_date.value=this.value;">
				<input type="date" name="hod_attend_edit_end_date" id="hod_inp_end_dt" min="{{ attendance.min_date }}" max="{{ attendance.max_date }}" required onchange="this.form.hod_attend_edit_start_date.max=this.value;">
				<button type="submit" name="att_data_submit_btn" class="hod_button btn draw-border"  id="att_data_submit_btn" form="attendance_form">SUBMIT</button>
			</form>
			{% elif invalid_reg %}
				<h3>Please enter a valid registration number.</h3>
			{% elif not_found %}
				<h3>No student found for given registration number.</h3>
			{% endif %}
			
			<h2>{{ status }}</h2>
		</div>
	</div>
	<footer class="footer">
		<span>Developed by Anand Kumar Dubey & Shraddha Kishan Tripathi (CSE 2017)</span>
		<span>Under guidance of Nagaraju Baydeti (Asst. Professor, CSE)</span>
	</footer>

<script src="{% static 'faculty/js/faculty.js' %}"></script>
</body>
</html>