<!--
	author: geekyAnand
	© pyJaC
-->

{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html>
<head>
	<title>NITN-AMS | Attendance Report</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'faculty/css/faculty-home.css' %}">
</head>
<!-- Body bgcolor was kept as background-color: #525659;  -->
<body style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div class="report_container">
        <div class="header">
            <div class="image_container">
                <img src="{% static 'student/img/nitn_logo.png' %}">
            </div>
            <div class="header_container">
                <span>राष्ट्रीय प्रौद्योगिकी संस्थान नागालैंड</span>

                <span> NATIONAL INSTITUTE OF TECHNOLOGY NAGALAND </span>
                    
                <span>Chumukedima, Dimapur </span>
                <span>Nagaland - 797103</span>
            </div>
            
        </div>
        <div class="dep_title">
            <span>Department of {{ report.department_full_name }}</span>
        </div>
        <div class="course_info">
                <div class="course_info_upper">
                    <span><b>Semester:</b> {{ report.semester }}</span>
                    <span><b>Course Code:</b> {{ report.course_code }}</span>
                </div>
                <div class="course_info_lower">
                    <span><b>Faculty:</b> {{ report.faculty_name }} </span>
                    <span><b>Course Title:</b> {{ report.course_title }}</span>
                </div>
                
        </div>
        {% if report.students %}
        <div class="table_title">
            {% if report.inadequacy %}
            <span>Attendance Details of Candidates having less than 75 percent</span><br>
            {% else %}
            <span>Attendance Details</span><br>
            {% endif %}
            <span> No. of periods handled: {{ report.total_classes }} (Till {{ report.date_upto }})</span>
        </div>
        <div class="report_table">
            <table>
                <tr>
                    <th>Reg. No.</th>
                    <th> Name of the Candidate</th>
                    <th>No. of periods Attended</th>
                    <th>Percentage of Attendance</th>
                </tr>
                {% for student in report.students %}
                <tr>
                    <td>{{ student.reg_no }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.present }}</td>
                    <td>{{ student.present|div:report.total_classes|mul:100 }}</td>   
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="report_footer">
            <span>{{ report.faculty_name }}<br>Faculty In-charge</span>
            <span>{{ report.hod_name }}<br> HoD</span>
        </div>
        <div id="printcontrol">
            <button class="hod_button btn draw-border" onclick="document.getElementById('printcontrol').style='display: None';window.print();document.getElementById('printcontrol').style='display: inline'">Print this page</button>
            <button class="hod_button btn draw-border" onclick="window.close()">Close this page</button>
        </div>
        {% elif report.inadequacy %}
        <h4>All students have proper attendance. No report to print.</h4>
        {% else %}
        <h4>Cannot print report. No attendance given.</h4>
        {% endif %}
    </div>
    <div class="info_footer">
        NOTE: This is a computer generated report & does not require a signature.
    </div>
</body>