<!--
	author: geekyAnand
	© pyJaC
-->

{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>NITN-AMS | Faculty Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'faculty/css/faculty-home.css' %}">
	
</head>
<body>
	<div class="main_body">
		<div class="ams-faculty_navbar">
			<div>
			<div class="ams-navbar_logo">
				<a class="ams-header-logo_link" target="_blank" href="https://nitnagaland.ac.in">
					<img src="{% static 'student/img/nitn_logo.png' %}">
				</a>
			</div>
			<h1 id="left_h1"> NIT Nagaland </h1> <h1 id="right_h1"> Attendance Management System  </h1>
			<span></span>
			</div>
			<div class="ams-navbar_links">
				<a class="link_1" href="{% url 'faculty_view_attend' %}">VIEW ATTENDANCE</a>
				<a class="link_2" href="{% url 'update_attend' %}">UPDATE ATTENDANCE</a>
				<a class="link_3" href="{% url 'faculty_logout' %}"> LOGOUT </a>
				
			</div>
		</div>

		<div class="site-container">
			<h1>Please select any of the above options to continue...</h1>
		</div>
	</div>

<script src="{% static 'faculty/js/faculty.js' %}"></script>
</body>
</html>