<!--
	author: g33kyAnand
-->

{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>NITN-AMS | Faculty Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'faculty/css/faculty-home.css' %}">
	
</head>
<body>
	<div class="ams-faculty_navbar">
		<div>
		<div class="ams-navbar_logo">
			<a class="ams-header-logo_link" target="_blank" href="https://nitnagaland.ac.in">
				<img src="{% static 'student/img/nitn_logo.png' %}">
			</a>
		</div>
		<h1> NIT Nagaland - Attendance Management System  </h1>
		</div>
		<div class="ams-navbar_links">
			<ul>
				<a href="{% url 'update_attend' %}"><li>UPDATE ATTENDANCE</li></a>
				<a href="{% url 'faculty_view_attend' %}"><li>VIEW ATTENDANCE</li></a>
				<a href="{% url 'faculty_logout' %}"><li> LOGOUT </li></a>
			</ul>
		</div>
	</div>

	<div class="site-container">

	</div>

<script src="{% static 'faculty/js/faculty.js' %}"></script>
</body>
</html>