<!--
	author: geekyAnand
	© pyJaC
-->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NITN-AMS | Faculty Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'faculty/css/faculty-home.css' %}">
</head>
<body>
	<div class="main_body">
		<div class="ams-faculty_navbar faculty_view_attend_nav">
			<div>
			<div class="ams-navbar_logo ">
				<a class="ams-header-logo_link" target="_blank" href="https://nitnagaland.ac.in">
					<img src="{% static 'student/img/nitn_logo.png' %}">
				</a>
			</div>
			<h1 id="left_h1"> NIT Nagaland </h1> <h1 id="right_h1"> Attendance Management System  </h1>
			<span></span>
			</div>
			<div class="ams-navbar_links_with_db">
				<a href="{% url 'faculty' %}">DASHBOARD</a>
				<a class="link_1" href="{% url 'faculty_view_attend' %}">VIEW ATTENDANCE</a>
				<a class="link_2" href="{% url 'update_attend' %}">UPDATE ATTENDANCE</a>
				<a class="link_3" href="{% url 'faculty_logout' %}"> LOGOUT </a>
				
			</div>
		</div>

		<div class="site-container">
			<div class="option-picker up_att_option-picker">	
				<form method="POST" name="select_option_form" >
					{% csrf_token %}
					<div id="drop_down">
						<select name="select_batch" required >
							<option value="" disabled selected>Select Batch</option>
							{% for batch in filters.batches %}
							<option value="{{ batch.year }}" {% if batch.checked %} selected {% endif %}>{{ batch.year}}-{{ batch.year|add:"4" }}</option>
							{% endfor %}
						</select>
					
						<select name="select_department" required>
							<option value="">Select Department</option>
							{% for dep in filters.departments %}
							<option value="{{ dep.department }}" {% if dep.checked %} selected {% endif %}>{{ dep.department }}</option>
							{% endfor %}
						</select>
					
						<select name="select_course_code" id="select_course_code" required>
							<option value="">Select Course Code </option>
							{% for course in filters.courses %}
							<option value="{{ course.course_code }}" {% if course.checked %} selected {% endif %}>{{ course.course_code }}</option>
							{% endfor %}
						</select>
					</div>	
					<div id="date_and_btn">
						<input type="date" name="att_date" id="att_date" value="{{ filters.selected_date }}" max="{% now 'Y-m-d' %}" required>
					
						<button type="submit" name="att_filter_btn" class="hod_button btn draw-border">SUBMIT</button>
					</div>
				</form>
			</div>	
			{% if user_set %}
			<form method="POST" id="attendance_form">
				{% csrf_token %}
				<input type="hidden" name="attendance_date" id="attendance_date" value="{{ filters.selected_date }}">
				<input type="hidden" name="course_code" value="{{ filters.selected_course }}">
				<label class="topic_label" for="topic">Topic:</label>
				<input type="text" class="topic_name" name="topic" max_length="80" placeholder="Topic Taught" pattern="\b[,.a-zA-Z0-9\s]{5,80}\b" title="80 alphanumeric characters with no whitespace, comma, or dot at the ends" required>
				<label for="no_of_classes">No. of classes:</label>
				<select name="no_of_classes" required>
					<option value="1" selected>1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
				</select>
				<div class="attendance-editor"></div>
				<div class="ams-table">
					<table class="ams-table__table">
						<tr class="ams-table-header ">
							<th> Registration No. </th>
							<th> Name</th>
							<th> Attendance</th>
						</tr>

						{% for student in user_set %}
						<tr class="ams-table__row ams-table-header">
							<td class="ams-table__cell"><span class="ams-table__value">{{ student.reg_no }}</span></td>
							<td class="ams-table__cell"><span class="ams-table__value">{{ student.name }}</span></td>
							<td class="ams-table__cell">
								<span class="ams-table__value">
									<label class="label_present">
										<input type="radio" value="P" name="reg_{{ student.reg_no }}" required/><span>P</span>
									</label>
									<label class="label_absent">
										<input type="radio" value="A" name="reg_{{ student.reg_no }}" required/><span>A</span>
									</label>
								</span>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<button type="submit" name="att_data_submit_btn" class="hod_button btn draw-border"  form="attendance_form">SUBMIT</button>
			</form>
			</div>
			{% elif date_exist %}
			<div style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;">
				<span onselect="return false;">The attendance for selected date has already been entered. Please select another date.</span>
			</div>
			{% else %}
				{% if messages %}
					{% for message in messages %}
						<h1>{{ message }}</h1>
					{% endfor %}
				{% else %}
				<h1>Select a valid combination from the above drop-downs to edit the attendance.</h1>
				{% endif %}
			{% endif %}
			

		</div>
		<footer class="footer">
			<span>Developed by Anand Kumar Dubey & Shraddha Kishan Tripathi (CSE 2017)</span>
			<span>Under guidance of Nagaraju Baydeti (Asst. Professor, CSE)</span>
		</footer>

<script src="{% static 'faculty/js/faculty.js' %}"></script>
</body>
</html>